<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/styles/main-page/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Russo+One&family=Stick&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/styles/font-awesome-4.7.0/css/font-awesome.min.css">
    <title>AURA</title>
</head>

<body>
    
    <header class="header">
        <div class="container container--header">

            <div class="header__inner">


                <div class="header__section">

                    <a class="header__logo" href="#">
                        <img src="/assets/images/main-page/logo.png" alt="">
                    </a>
                    
                    <div class="navs">
                        <a href="#" class="navs__item navs__item--active">Авторы</a>
                        <a href="#" class="navs__item">Коллекции</a>
                        <a href="#" class="navs__item">Сервисы</a>
                    </div>

                </div>


                <div class="header__buttons">
                    <button class="btn btn--black btn--wallet">Кошелёк</button>
                </div>
                

            </div>

        </div> <!-- ./container -->
    </header> <!-- ./header -->

    <section class="section section--label">
        <div class="container">

            <div class="label">

                <div class="section__title section__title--white section__title--label">
                    <p>Площадка для реализации криптостикеров</p>
                </div>

                <div class="label__buttons">
                    <button class="btn btn--green-blue">Купить</button>
                    <button class="btn btn--green-blue">Стать автором</button>
                </div>

            </div>

        </div> <!-- ./container -->
    </section> <!-- ./section -->

    <section class="section">

        <div class="container">

            <div class="auctions">

                <div class="auctions__main">

                    <div class="section__title section__title--black section__title--auctions">
                        <p>Аукцион</p>
                        <div class="auctions__live">
                            <p>
                                &#8226 Live auction
                            </p>
                        </div>
                    </div>

                    <div class="auctions__current">

                        <div class="auctions__first-block">
                            <img src="/assets/images/main-page/460x460Sticker.png" alt="">
                        </div>

                        <div class="auctions__second-block">

                            <div class="auctions__current__author">
                                <img src="/assets/images/main-page/48x48Author.png" alt="">
                                <p class="auctions__current__author__name">Serge_VM222</p>
                            </div>
                            

                            <p class="auctions__current__name">Witcherrr_3(xml_t5)</p>

                            <div class="auctions__current__bet">

                                <div class="auctions__current__sum">
                                    <p>Ставка:</p>
                                    <div class="auctions__current__sum__value">
                                        <a id="auctionsCurrentSumValue">0.10</a>
                                        <a> </a>
                                        <a id="auctionsCurrentSumType">ETH</a>
                                    </div>

                                    <div class="auction__current__dollars">
                                        <p>$</p>
                                        <p>351.24</p>
                                    </div>
                                </div>

                                <div class="auctions__current__time">

                                    <p>Окончание через: </p>
                                    <div class="auctions__current__time__values">
                                        <div class="auctions__current__time__piece">
                                            <p class="auctions__current__time__value">01</p>
                                            <p class="auctions__current__time__name">Час</p>
                                        </div>
                                        <div class="auctions__current__time__piece">
                                            <p class="auctions__current__time__value">48</p>
                                            <p class="auctions__current__time__name">Мин</p>
                                        </div>
                                        <div class="auctions__current__time__piece">
                                            <p class="auctions__current__time__value">36</p>
                                            <p class="auctions__current__time__name">Сек</p>
                                        </div>
                                    </div>
                                    <img src="/assets/images/main-page/oclock.png" alt="">
                                </div>

                            </div>

                            <button class="btn btn--blue">Сделать ставку</button>

                        </div>

                    </div>

                </div>

                <div class="auctions__others">

                    <div class="section__subtitle section__subtitle--black">
                        <p>Другие аукционы</p>
                    </div>

                    <div class="auctions__row">

                        <div class="auctions__item">
                            <img src="/assets/images/main-page/160x160Sticker.png" alt="">
                            <div class="auctions__describe">
                                <div class="auctions__item__author">
                                    <img src="/assets/images/main-page/24x24AuthorGrey.png" alt="">
                                    <p class="auctions__item__author__name">
                                        Frank.Navgal 
                                    </p>
                                </div>
                                <p class="auctions__item__name">Alien (green) e_e</p>
                                <div class="auctions__item__sum">
                                    <p class="auction__item__sum__value">0.02</p>
                                    <p class="auction__item__sum__type">ETH</p>
                                </div>
                                <div class="auctions__item__time">
                                    <p class="auctions__item__time__element">03</p>
                                    <p class="auctions__item__time__element">час</p>
                                    <p class="auctions__item__time__element">29</p>
                                    <p class="auctions__item__time__element">мин</p>
                                    <p class="auctions__item__time__element">44</p>
                                    <p class="auctions__item__time__element">сек</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="auctions__item">
                            <img src="/assets/images/main-page/160x160Sticker.png" alt="">
                            <div class="auctions__describe">
                                <div class="auctions__item__author">
                                    <img src="/assets/images/main-page/24x24AuthorGrey.png" alt="">
                                    <p class="auctions__item__author__name">
                                        Frank.Navgal 
                                    </p>
                                </div>
                                <p class="auctions__item__name">Alien (green) e_e</p>
                                <div class="auctions__item__sum">
                                    <p class="auction__item__sum__value">0.02</p>
                                    <p class="auction__item__sum__type">ETH</p>
                                </div>
                                <div class="auctions__item__time">
                                    <p class="auctions__item__time__element">03</p>
                                    <p class="auctions__item__time__element">час</p>
                                    <p class="auctions__item__time__element">29</p>
                                    <p class="auctions__item__time__element">мин</p>
                                    <p class="auctions__item__time__element">44</p>
                                    <p class="auctions__item__time__element">сек</p>
                                </div>
                            </div>
                        </div>

                        <div class="auctions__item">
                            <img src="/assets/images/main-page/160x160Sticker.png" alt="">
                            <div class="auctions__describe">
                                <div class="auctions__item__author">
                                    <img src="/assets/images/main-page/24x24AuthorGrey.png" alt="">
                                    <p class="auctions__item__author__name">
                                        Frank.Navgal 
                                    </p>
                                </div>
                                <p class="auctions__item__name">Alien (green) e_e</p>
                                <div class="auctions__item__sum">
                                    <p class="auction__item__sum__value">0.02</p>
                                    <p class="auction__item__sum__type">ETH</p>
                                </div>
                                <div class="auctions__item__time">
                                    <p class="auctions__item__time__element">03</p>
                                    <p class="auctions__item__time__element">час</p>
                                    <p class="auctions__item__time__element">29</p>
                                    <p class="auctions__item__time__element">мин</p>
                                    <p class="auctions__item__time__element">44</p>
                                    <p class="auctions__item__time__element">сек</p>
                                </div>
                            </div>
                        </div>

                        <div class="auctions__item">
                            <img src="/assets/images/main-page/160x160Sticker.png" alt="">
                            <div class="auctions__describe">
                                <div class="auctions__item__author">
                                    <img src="/assets/images/main-page/24x24AuthorGrey.png" alt="">
                                    <p class="auctions__item__author__name">
                                        Frank.Navgal 
                                    </p>
                                </div>
                                <p class="auctions__item__name">Alien (green) e_e</p>
                                <div class="auctions__item__sum">
                                    <p class="auction__item__sum__value">0.02</p>
                                    <p class="auction__item__sum__type">ETH</p>
                                </div>
                                <div class="auctions__item__time">
                                    <p class="auctions__item__time__element">03</p>
                                    <p class="auctions__item__time__element">час</p>
                                    <p class="auctions__item__time__element">29</p>
                                    <p class="auctions__item__time__element">мин</p>
                                    <p class="auctions__item__time__element">44</p>
                                    <p class="auctions__item__time__element">сек</p>
                                </div>
                            </div>
                        </div>

                    </div> <!-- ./auctions__row -->

                    <div class="auctions__row">

                        <div class="auctions__item">
                            <img src="/assets/images/main-page/160x160Sticker.png" alt="">
                            <div class="auctions__describe">
                                <div class="auctions__item__author">
                                    <img src="/assets/images/main-page/24x24AuthorGrey.png" alt="">
                                    <p class="auctions__item__author__name">
                                        Frank.Navgal 
                                    </p>
                                </div>
                                <p class="auctions__item__name">Alien (green) e_e</p>
                                <div class="auctions__item__sum">
                                    <p class="auction__item__sum__value">0.02</p>
                                    <p class="auction__item__sum__type">ETH</p>
                                </div>
                                <div class="auctions__item__time">
                                    <p class="auctions__item__time__element">03</p>
                                    <p class="auctions__item__time__element">час</p>
                                    <p class="auctions__item__time__element">29</p>
                                    <p class="auctions__item__time__element">мин</p>
                                    <p class="auctions__item__time__element">44</p>
                                    <p class="auctions__item__time__element">сек</p>
                                </div>
                            </div>
                        </div>

                        <div class="auctions__item">
                            <img src="/assets/images/main-page/160x160Sticker.png" alt="">
                            <div class="auctions__describe">
                                <div class="auctions__item__author">
                                    <img src="/assets/images/main-page/24x24AuthorGrey.png" alt="">
                                    <p class="auctions__item__author__name">
                                        Frank.Navgal 
                                    </p>
                                </div>
                                <p class="auctions__item__name">Alien (green) e_e</p>
                                <div class="auctions__item__sum">
                                    <p class="auction__item__sum__value">0.02</p>
                                    <p class="auction__item__sum__type">ETH</p>
                                </div>
                                <div class="auctions__item__time">
                                    <p class="auctions__item__time__element">03</p>
                                    <p class="auctions__item__time__element">час</p>
                                    <p class="auctions__item__time__element">29</p>
                                    <p class="auctions__item__time__element">мин</p>
                                    <p class="auctions__item__time__element">44</p>
                                    <p class="auctions__item__time__element">сек</p>
                                </div>
                            </div>
                        </div>

                        <div class="auctions__item">
                            <img src="/assets/images/main-page/160x160Sticker.png" alt="">
                            <div class="auctions__describe">
                                <div class="auctions__item__author">
                                    <img src="/assets/images/main-page/24x24AuthorGrey.png" alt="">
                                    <p class="auctions__item__author__name">
                                        Frank.Navgal 
                                    </p>
                                </div>
                                <p class="auctions__item__name">Alien (green) e_e</p>
                                <div class="auctions__item__sum">
                                    <p class="auction__item__sum__value">0.02</p>
                                    <p class="auction__item__sum__type">ETH</p>
                                </div>
                                <div class="auctions__item__time">
                                    <p class="auctions__item__time__element">03</p>
                                    <p class="auctions__item__time__element">час</p>
                                    <p class="auctions__item__time__element">29</p>
                                    <p class="auctions__item__time__element">мин</p>
                                    <p class="auctions__item__time__element">44</p>
                                    <p class="auctions__item__time__element">сек</p>
                                </div>
                            </div>
                        </div>

                        <div class="auctions__item">
                            <img src="/assets/images/main-page/160x160Sticker.png" alt="">
                            <div class="auctions__describe">
                                <div class="auctions__item__author">
                                    <img src="/assets/images/main-page/24x24AuthorGrey.png" alt="">
                                    <p class="auctions__item__author__name">
                                        Frank.Navgal 
                                    </p>
                                </div>
                                <p class="auctions__item__name">Alien (green) e_e</p>
                                <div class="auctions__item__sum">
                                    <p class="auction__item__sum__value">0.02</p>
                                    <p class="auction__item__sum__type">ETH</p>
                                </div>
                                <div class="auctions__item__time">
                                    <p class="auctions__item__time__element">03</p>
                                    <p class="auctions__item__time__element">час</p>
                                    <p class="auctions__item__time__element">29</p>
                                    <p class="auctions__item__time__element">мин</p>
                                    <p class="auctions__item__time__element">44</p>
                                    <p class="auctions__item__time__element">сек</p>
                                </div>
                            </div>
                        </div>

                    </div> <!-- ./auctions__row -->

                    <button class="btn btn--blue btn--items">Все аукционы</button>

                </div>

            </div>

        </div> <!-- ./container -->

    </section> <!-- ./section -->

    <section class="section section--black">

        <div class="container">

            <div class="new__stickers">

                <div class="section__title section__title--white">
                    <p>&#128293 Новые стикеры</p>
                </div>

                <div class="new__stickers__row">

                    <a href="#" class="new__stickers__item">
                        <img src="/assets/images/main-page/300x300StickerGreen.png" alt="">
                    </a>
                    <a href="#" class="new__stickers__item">
                        <img src="/assets/images/main-page/300x300StickerGreen.png" alt="">
                    </a>
                    <a href="#" class="new__stickers__item">
                        <img src="/assets/images/main-page/300x300StickerGreen.png" alt="">
                    </a>
                    <a href="#" class="new__stickers__item">
                        <img src="/assets/images/main-page/300x300StickerGreen.png" alt="">
                    </a>
                    
                </div>

                <div class="new__stickers__pages">

                    <button class="btn btn--page btn--page--active">1</button>
                    <button class="btn btn--page">2</button>
                    <button class="btn btn--page">3</button>
                    <button class="btn btn--page">4</button>

                </div>

            </div>

        </div> <!-- ./container -->

    </section> <!-- ./section -->

    <section class="section section--subscribtion">

        <div class="container">

            <div class="subscribtion">

                <div class="section__subtitle section__subtitle--white">
                    <p>Будь в курсе новинок! Подпишись на рассылку!</p>
                </div>

                <form action="">
                    <ul>
                        <li>
                            <label for="name">
                                <input class="input__text input__text--incorrect" type="text" id="subscribtionName" placeholder="Имя">
                            </label>
                        </li>
                        <li>
                            <label for="email">
                                <input class="input__text" type="text" id="subscribtionEmail" placeholder="E-mail">
                            </label>
                        </li>
                        <button class="btn btn--blue">Подписаться</button>

                        <li>
                            <input class="input__checkbox" type="checkbox" id="personalDataCheckbox">
                            <label class="section__title--white" for="personalDataCheckbox">Согласен на обработку персональных данных</label>
                        </li>
                    </ul>
                </form>

            </div>

        </div> <!-- ./container -->

    </section> <!-- ./section -->

    <section class="section">
        <div class="container">

            <div class="publication">

                <div class="publication__block">
                    <div class="section__title section__title--black">
                        <p>Стать автором</p>
                    </div>
                    <div class="section__subtitle section__subtitle--black section__subtitle--publication">
                        <p>Если ты художник или стремишься им стать - добро пожаловать
                            к нам!
                        </p>
                    </div>
                    <div class="publication__describe">
                        Отправь нам от трёх до пяти своих работ и напиши свой ник в телеграме. Если наши кураторы решат, что нам по пути, то мы обязательно свяжемся с тобой и обговорим условия сотрудничества! Удачи!
                    </div>

                    <img class="publication__image" src="/assets/images/main-page/publicationImage.png" alt="">
                </div>

                <div class="publication__block">
                    
                    <form class="publication__form">
                        
                        <div class="publication__add">
                            <label class="publication__label" for="publicationInput">
                                <p class="publication__icon">+</p>
                                <p class="publication__label__text">Прикрепить работы (.jpeg / .png)</p>
                            </label>
                            <input class="publication__input" type="file" id="publicationInput"> 
                        </div>

                        <label class="publication__label__telegram" for="publicationTelegram">
                            <input class="publication__input__telegram" type="text" id="publicationTelegram" placeholder="@telegram_nickname">
                        </label>

                        <button class="btn btn--blue btn--publication">Отправить</button>

                    </form>

                </div>

            </div>

        </div> <!-- ./container -->
    </section> <!-- ./section -->

    <section class="section section--black">

        <div class="container">

            <div class="top">

                <div class="section__title section__title--white">
                    <p>Топ продаж</p>
                </div>

                <div class="top__row">

                    <div class="top__item">

                        <div class="top__image-back">


                            <img src="/assets/images/main-page/160x160Sticker.png" alt="" class="top__image">

                        </div>

                        <div class="top__data">

                            <div class="top__author">
                                <img src="/assets/images/main-page/24x24AuthorGrey.png" alt="">
                                <p class="top__author__name">
                                    ttga
                                </p>
                            </div>

                            <div class="top__name">

                                <p>Holofobia1</p>

                            </div>

                            <div class="top__sum">

                                <div class="top__crypto">
                                    <div class="top__crypto__value">4.70</div>
                                    <div class="top__crypto__type">ETH</div>
                                </div>

                                <div class="top__dollars">
                                    <p>(</p>
                                    <p>$</p>
                                    <p class="top__dollars__value">16,847.43</p>
                                    <p>)</p>
                                </div>

                            </div>

                        </div>

                    </div> <!-- ./top__item-->
                    
                    <div class="top__item">

                        <div class="top__image-back">


                            <img src="/assets/images/main-page/160x160Sticker.png" alt="" class="top__image">

                        </div>

                        <div class="top__data">

                            <div class="top__author">
                                <img src="/assets/images/main-page/24x24AuthorGrey.png" alt="">
                                <p class="top__author__name">
                                    ttga
                                </p>
                            </div>

                            <div class="top__name">

                                <p>Holofobia1</p>

                            </div>

                            <div class="top__sum">

                                <div class="top__crypto">
                                    <div class="top__crypto__value">4.70</div>
                                    <div class="top__crypto__type">ETH</div>
                                </div>

                                <div class="top__dollars">
                                    <p>(</p>
                                    <p>$</p>
                                    <p class="top__dollars__value">16,847.43</p>
                                    <p>)</p>
                                </div>

                            </div>

                        </div>

                    </div> <!-- ./top__item-->

                </div> <!-- ./top__row-->

                <div class="top__row">

                    <div class="top__item">

                        <div class="top__image-back">


                            <img src="/assets/images/main-page/160x160Sticker.png" alt="" class="top__image">

                        </div>

                        <div class="top__data">

                            <div class="top__author">
                                <img src="/assets/images/main-page/24x24AuthorGrey.png" alt="">
                                <p class="top__author__name">
                                    ttga
                                </p>
                            </div>

                            <div class="top__name">

                                <p>Holofobia1</p>

                            </div>

                            <div class="top__sum">

                                <div class="top__crypto">
                                    <div class="top__crypto__value">4.70</div>
                                    <div class="top__crypto__type">ETH</div>
                                </div>

                                <div class="top__dollars">
                                    <p>(</p>
                                    <p>$</p>
                                    <p class="top__dollars__value">16,847.43</p>
                                    <p>)</p>
                                </div>

                            </div>

                        </div>

                    </div> <!-- ./top__item-->

                    <div class="top__item">

                        <div class="top__image-back">


                            <img src="/assets/images/main-page/160x160Sticker.png" alt="" class="top__image">

                        </div>

                        <div class="top__data">

                            <div class="top__author">
                                <img src="/assets/images/main-page/24x24AuthorGrey.png" alt="">
                                <p class="top__author__name">
                                    ttga
                                </p>
                            </div>

                            <div class="top__name">

                                <p>Holofobia1</p>

                            </div>

                            <div class="top__sum">

                                <div class="top__crypto">
                                    <div class="top__crypto__value">4.70</div>
                                    <div class="top__crypto__type">ETH</div>
                                </div>

                                <div class="top__dollars">
                                    <p>(</p>
                                    <p>$</p>
                                    <p class="top__dollars__value">16,847.43</p>
                                    <p>)</p>
                                </div>

                            </div>

                        </div>

                    </div> <!-- ./top__item-->

                </div> <!-- ./top__row-->

                <div class="top__row">

                    <div class="top__item">

                        <div class="top__image-back">


                            <img src="/assets/images/main-page/160x160Sticker.png" alt="" class="top__image">

                        </div>

                        <div class="top__data">

                            <div class="top__author">
                                <img src="/assets/images/main-page/24x24AuthorGrey.png" alt="">
                                <p class="top__author__name">
                                    ttga
                                </p>
                            </div>

                            <div class="top__name">

                                <p>Holofobia1</p>

                            </div>

                            <div class="top__sum">

                                <div class="top__crypto">
                                    <div class="top__crypto__value">4.70</div>
                                    <div class="top__crypto__type">ETH</div>
                                </div>

                                <div class="top__dollars">
                                    <p>(</p>
                                    <p>$</p>
                                    <p class="top__dollars__value">16,847.43</p>
                                    <p>)</p>
                                </div>

                            </div>

                        </div>

                    </div> <!-- ./top__item-->

                    <div class="top__item">

                        <div class="top__image-back">


                            <img src="/assets/images/main-page/160x160Sticker.png" alt="" class="top__image">

                        </div>

                        <div class="top__data">

                            <div class="top__author">
                                <img src="/assets/images/main-page/24x24AuthorGrey.png" alt="">
                                <p class="top__author__name">
                                    ttga
                                </p>
                            </div>

                            <div class="top__name">

                                <p>Holofobia1</p>

                            </div>

                            <div class="top__sum">

                                <div class="top__crypto">
                                    <div class="top__crypto__value">4.70</div>
                                    <div class="top__crypto__type">ETH</div>
                                </div>

                                <div class="top__dollars">
                                    <p>(</p>
                                    <p>$</p>
                                    <p class="top__dollars__value">16,847.43</p>
                                    <p>)</p>
                                </div>

                            </div>

                        </div>

                    </div> <!-- ./top__item-->

                </div> <!-- ./top__row-->

            </div>

        </div> <!-- ./container -->

    </section> <!-- ./section -->

    <div class="section section--grey">

        <div class="container">

            <div class="help">
                
                <div class="help__block">
                    <div class="section__subtitle section__subtitle--white">
                        <p>Для попадания в топ необходимо:</p>
                    </div>

                    <div class="help__requirement">
                        <i class="fa fa-picture-o" aria-hidden="true"></i>   
                        <p>Минимум пять опубликованных работ</p>
                    </div>
                    <div class="help__requirement">
                        <i class="fa fa-smile-o" aria-hidden="true"></i>   
                        <p>Инвайт трём коллегам по цеху</p>
                    </div>
                    <div class="help__requirement">
                        <i class="fa fa-check-circle" aria-hidden="true"></i>   
                        <p>Верифицированный аккаунт</p>
                    </div>
                </div>

                <div class="help__block help__block--second">
                    <div class="help__img">
                        <img src="/assets/images/main-page/helpImage.png" alt="">
                    </div>
                </div>

            </div>

        </div> <!-- ./container -->

    </div> <!-- ./section -->

    <footer class="footer">

        <div class="container container--footer ">

            <div class="footer__inner">
                <div class="footer__block">
                    <a class="footer__logo" href="#">
                        <img src="/assets/images/main-page/logo.png" alt="">
                    </a>
                </div>

                <div class="footer__block">
                    <div class="navs navs--footer">
                        <a href="#" class="navs__item">Соглашение</a>
                        <a href="#" class="navs__item">Лицензии</a>
                        <a href="#" class="navs__item">FAQ</a>
                    </div>
                </div>
            </div>

        </div> <!-- ./container -->

        <div class="copyright">
            AURA © 2021
        </div>

    </footer> <!-- ./footer -->

</body>
</html>