.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  .user-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .user-info-section {
    padding: 40px;
  }